<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/images/faviconASCENSE.png" type="image/x-icon" />
  <title>ASCENSE | EXAMENES</title>
  <link rel="stylesheet" href="/public/css/dashboardPublic.css" />
  <link rel="stylesheet" href="/public/css/dashboardPublic.css">
  <script src="https://kit.fontawesome.com/6788e71a64.js" crossorigin="anonymous"></script>

</head>

<body class="">
  <button class="btn-sidebar"><i class="fa-solid fa-bars"></i></button>
  <!-- Menu lateral -->
  <aside class="sidebar">
    <section class="header-sidebar">
      <img src="/public/images/faviconASCENSE.png" alt="Logotipo de ascense">
      <h1>ASCENSE</h1>
    </section>
    <!-- Divicion de header -->
    <hr>
    <!-- Opciones principales -->
    <nav>
      <p>Principal</p>
      <ul>
        <li><a href="/views/index.html" class="sidebar-option"><i class="fa-solid fa-house"></i>
            Inicio</a></li>
        <li><a href="#" class="sidebar-option"><i class="fa-solid fa-envelope"></i>
            Mensajes</a></li>
        <li><a href="#" class="sidebar-option"><i class="fa-solid fa-box-open"></i>
            Recursos</a></li>
        <li><a href="#" class="sidebar-option"><i class="fa-solid fa-graduation-cap"></i>
            Cursos</a></li>
      </ul>
    </nav>
    <!-- Divicion de opciones -->
    <hr>
    <!-- Opciones secundarias -->
    <nav>
      <p>Grado</p>
      <ul>
        <li><a href="#" class="sidebar-option"><i class="fa-solid fa-language"></i>
            Bilingüe</a></li>
        <li><a href="#" class="sidebar-option"><i class="fa-solid fa-earth-americas"></i>
            General</a></li>
        <li><a href="#" class="sidebar-option"><i class="fa-solid fa-laptop-code"></i>
            Sistemas C.</a></li>
      </ul>
    </nav>
    <!-- Divicion de opciones -->
    <hr>
    <!-- Opciones secundarias -->
    <nav>
      <p>Cuenta</p>
      <ul>
        <li><a href="#" class="sidebar-option"><i class="fa-solid fa-gear"></i>
            Configuracion</a></li>
      </ul>
    </nav>
    <!-- Divicion de opciones -->
    <hr>
    <!-- seccion de cuenta -->
     <section class="sidebar-cuenta">
     </section>
  </aside>



  <main class="main">
    <section class="dashboard-card"></section>
    <section class="dashboard-card"></section>
    <section class="dashboard-card"></section>
    <section class="dashboard-card dashboard-card-exams">
      <article class="card-exams-header">
        <h3>Examenes disponibles</h3>
        <p>Mejora tu puntuacion respondiendo examenes hechos por la comunidad.</p>

      </article>
    </section>
  </main>



  <script>
    const sidebar = document.querySelector(".sidebar");
    const menuBtn = document.querySelector(".menu");
    menuBtn.addEventListener("click", () => {
      sidebar.classList.toggle("sidebar-off");
    })
  </script>
</body>

</html>
