
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responder Examen</title>
    <link rel="stylesheet" href="/css/examen.css">
</head>
<body>
    
    <div class="container">
        <h1 id="exam-title">Cargando examen...</h1>
        <div id="preguntas-container"></div>
        <button id="submit-exam" class="btn-submit">Enviar Respuestas</button>
    </div>
    <script src="/JS/examen.js"></script>
</body>
</html>
