:root {
  --color: white;
  --bg-1: #0f0f0f;
  --bg-2: #272727;
  --bg-3: black;
  --bg-4: #1a1a1a;
  --link-color: white;
  --footer: black;
}

body {
  font-family: sans-serif;
  padding: 20px;
  margin: 0;
  background-color: var(--bg-1);
}

.recurso {
  max-width: 400px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: block;
  

}


.recurso:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.recurso-portada {
  width: 100%;
  height: 85%;
  max-width: 400px;
  max-height: 300px;
  border: 1px solid #ffffff5d;
  margin: 0;
  filter: brightness(0.5);
  object-fit: cover;
  border-radius: 10px;
  transition: filter 0.3s ease;
}

.recurso-portada:hover {
  filter: brightness(1);
}

.recurso-titulo {
  text-align: left;
  font-size: .9rem;
  margin: 0;
  color: var(--color);
}

.recurso-informacion {
  display: flex;
  align-items: center;
  height: auto;
  justify-content: flex-start;
}

.fa-solid {
  color: #888;
}

.recurso-usuario {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.recurso-info-usuario {
  margin: 0 2px 0 0 ;
  overflow: hidden;
  /*  */
  
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 300px;
}

.recurso-info-vistas {
  font-size: 0.8rem;
  color: #888;
  margin: 0;
}
