body {
    
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    /* background: #09090B; */

    font-family: sans-serif;
    color: white;
    margin: 0 auto;
    overflow: scroll;
    position: relative;
    display: flex;
}

.main {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    scrollbar-width: none; /* Ancho de la barra de desplazamiento más delgado */
}

::-webkit-scrollbar {
}

/* dashboard */
.dashboard-card:nth-child(1) {
    margin-top: 60px;
}
.dashboard-card {
    background: black;
    min-width: 265px;
    min-height: 145px;
    width: 90%;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.116);
    margin: 0 auto;
}

/* carta dashboard */
.dashboard-card-exams {
    height: 500px;
    overflow: hidden;
}
/* Header carta dashboard */
.card-exams-header {
    padding: 15px 10px 10px;

    margin: 0;
    border: 1px solid rgba(255, 255, 255, 0.116);

}

.card-exams-header h3 {
    font-size: 0.9rem;
    font-weight: 100;
    margin: 0;
}

.card-exams-header p {
    font-size: 0.7rem;
    margin: 6px 0 0 0;
}

/* Menu lateral */
.sidebar {
    width: 80%;
    max-width: 300px;
    background: black;
    border: 1px solid rgba(255, 255, 255, 0.116);
    min-height: 100vh;
}

.header-sidebar {
    /* background: red;} */
    display: flex;
    margin: 10px 0;
    align-items: center;
}

.header-sidebar img {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    margin-right: 20px;
}
.sidebar hr {
    border: 1px solid rgba(255, 255, 255, 0.034);
    margin: 0 auto;
    width: 80%;
}
/* Navegacion */
.sidebar nav {
}

.sidebar nav ul {
    padding: 0;
    margin-top: 0;
    margin-left: 70px;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.sidebar nav p {
    font-size: 0.7rem;
    margin: 10px 0 0 20px;
    font-weight: 100;

}

/* opciones */
.sidebar-option {
    display: block;
    width: 80%;
    margin-top: 0;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}

.sidebar-option i {
    margin-right: 20px;
}
.sidebar-option:hover {
    background: #0D0D0D;
}


/* Sidebar toggle */
.sidebar-off {
    display: none;
}

/* bton sidebar */
.btn-sidebar {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #000000;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.199);
    bottom: 10px;
    left:50%;
    transform: translate(-50%);
}

.btn-sidebar i {
    position: absolute;
    top: 25px;
    font-size: 1.3rem;
    left: 50%;
    transform: translate(-50%, -50%);
    
    color: white;
}
@keyframes sidebar-on {
    from {left: -100%;}
    to {left: 0;}
}
@media only screen and (max-width: 900px) {
    .sidebar {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
  .menu {
    display: block;
  }
  header {
    display: none;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  }
  .logo {
    margin-left: 50px;
  }
  header section:nth-child(1) {
    justify-content: space-between;
    display: flex;
  }

  .nav-content {
      display: none;
  }
  .sidebar-off {
    display: block;
  }
}

